.navbar {
    background-color: #546c8b;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-brand {
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
  }

  .navbar-links {
    display: flex;
    gap: 10px;
  }
  
  .navbar-links a {
    color: #ecf0f1;
    text-decoration: none;
    font-weight: 500;
  }
  
  .navbar-links a:hover {
   text-decoration: underline;
  }

  a {
    cursor: pointer;
  }
